$font-roboto: 'Roboto', sans-serif;
$font-openSans: 'Open Sans', sans-serif;
$color-white: #FFFFFF;
$color-black: #101010;
$color-black2: #202020;
$color-black3: #333333;
$color-black4: #181818;
$color-purple: #754EF9;
$color-grey: #F3F3F3;
$color-red: #E60073;